* {
    margin: 0;
    padding: 0;
}
.decoration {
    position: absolute;
    z-index: 0;
}
#decoration-1 {
    top: 235px;
    left: 0;
}
#decoration-2 {
    top: 530px;
    left: 958px;
}
#decoration-3 {
    top: 2170px;
    left: 1000px;
}
#decoration-4 {
    top: 2770px;
    left: 0;
}
#decoration-5 {
    top: 4270px;
    left: 140px;
}
#decoration-6 {
    top: 4412px;
    left: 945px;
}
img {
    z-index: 1;
}
h1 {
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 78px;
    text-align: center;
    letter-spacing: 0.2px;
}
h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 65px;

    text-align: center;
    letter-spacing: 0.2px;
    margin-top: 27px;
}
h3 {
    font-style: normal;
    font-weight: 450;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.1px;
}
h5 {
    font-style: normal;
    font-weight: 450;
    font-size: 19px;
    line-height: 30px;
    letter-spacing: 0.2px;
    margin-top: 27px;
}
h6 {
    font-style: normal;
    font-weight: 450;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.1px;
    color: #ffffff;
}
p {
    font-style: normal;
    font-weight: 450;
    font-size: 24px;
    line-height: 38px;
    text-align: center;
    letter-spacing: 0.2px;
    margin-top: 27px;
    color: #5c5c5c;
}
/* Button */
button {
    padding: 16px 49px;
    box-sizing: border-box;
    border: none;
    border-radius: 85px;
    font-style: normal;
    font-weight: 450;
    font-size: 18px;
    line-height: 20px;
    width: auto;
}
body {
    width: 1282px;
}
.btn-white-sea {
    background: #ffffff;
    border: 2px solid #00b6f0;
    color: #00b6f0;
}
.btn-sea-white {
    background: #00b6f0;
    color: white;
}
.btn-white-black {
    color: #20262a;
    background: #ffffff;
}
/* Header */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    width: 1282px;
    height: 1455px;
    background: linear-gradient(white 10%, #b6f1ea 70%, white 90%);
}
h1.header {
    width: 490px;
    height: auto;
    color: #112d57;
}
p.header {
    width: 524px;
    height: 76px;
    margin-top: 37px;
    margin-bottom: 94px;
}
img.header {
    width: 1120px;
    height: 750px;
}
div.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1100px;
    padding: 30px 91px 30px 91px;
}
.mid-top-header {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    font-style: normal;
    font-weight: 450;
    font-size: 18px;
    line-height: 20px;

    letter-spacing: 0.2px;
    color: #20262a;
}
button.mid-top-header {
    background: none;
    margin: 0px 25px 0 25px;
    padding: 0;
}
.btn-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 12.5px 0 12.5px;
}
div.main-header {
    margin-top: 171px;
}
/*Container css*/

/*Container-1*/
div.container-1 {
    height: 492px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 75px;
}
h3.container-1 {
    font-style: normal;
    font-weight: 450;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.1px;
    color: #f3cd03;
}
h2.container-1 {
    color: #20262a;
}
p.container-1 {
    width: 439px;
    height: auto;
    margin-bottom: 70px;
}
.btn-container-1 {
    width: 445px;
    height: auto;
    display: flex;
    justify-content: space-between;
}
/*Container-2,3*/
p.learn-more {
    font-style: normal;
    font-weight: 450;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #00b6f0;
}
.container-2-3 {
    height: 582px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.text-container-2-3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: start;
}
h3.text-container-2-3 {
    width: auto;
    height: auto;
    font-style: normal;
    font-weight: 450;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.1px;
    color: #20262a;
}
p.text-container-2-3 {
    width: 439px;
    height: auto;
}
/*Container-4*/
div.container-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    padding-top: 72px;
    padding-bottom: 62px;
}
h2.container-4 {
    color: #20262a;
    margin: 0;
}
h5.container-4 {
    margin-bottom: 62px;
    color: #5c5c5c;
}
div.text-container-4 {
    width: 760px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 71px;
}
span.text-container-4 {
    width: auto;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #505d6f;
}
div.line {
    height: 15px;
    border-radius: 9.5px;
}
div.bg-line {
    width: 760px;
    background: #f3f5f8;
    position: relative;
    top: 0;
}
div.status-line {
    width: 380px;
    background: #00b6f0;
    position: relative;
    top: -15px;
}
/*Container-5*/
div.container-5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 169px;
    padding-bottom: 108px;
}
h3.container-5 {
    color: #20262a;
}
img.container-5 {
    margin-top: 79px;
    margin-bottom: 79px;
}
div.esther-webb {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-self: center;
    padding-top: 60px;
    padding-bottom: 50px;
}
p.text-esther-webb {
    text-align: start;
    margin-left: 23px;
    margin-top: 0;
    font-style: normal;
    font-weight: 450;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #20262a;
}
span.text-esther-webb {
    text-align: start;
    font-style: normal;
    font-weight: 450;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.1px;
    color: #5c5c5c;
}
/*Container-6*/
div.container-6 {
    height: 276px;
    background: #182333;
    padding: 110px 210px 100px 210px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
}
h2.container-6 {
    margin-top: 0;
    text-align: start;
    color: #ffffff;
}
h5.container-6 {
    width: 417px;
}
div.container-6-right {
    display: flex;
    flex-direction: column;
    align-items: start;
}
h5.container-6-right {
    margin-bottom: 20px;
}
h6.container-6-right {
    margin-top: 10px;
}
div.price {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 20px;
}
h1.price {
    margin-right: 10px;
    margin-left: 10px;
    color: rgba(243, 205, 3, 1);
}
p.price {
    margin-top: 0;
    width: 129px;
    text-align: start;
    color: #ffffff;
}

/*Container-7*/
div.container-7 {
    padding: 80px 157.5px 70px 210.5px;
    height: 300px;
    background: linear-gradient(180deg, rgba(0, 182, 240, 0.25) 0%, rgba(233, 250, 255, 1) 100%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
h3.container-7 {
    width: 386px;
    margin-top: 6px;
}
h5.container-7 {
    width: 400px;
    margin-top: 0;
}
button.container-7 {
    margin-top: 30px;
}
/*Footer*/
footer {
    height: auto;
    padding: 61px 100px 60px 86px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}
h6.text-footer {
    color: rgba(92, 92, 92, 1);
}
img.logo {
    margin-left: 40px;
}
